@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

/* sheared style */

/* header section */

header,
main {
  width: 81%;
  max-width: 1240px;
  margin: 0 auto;
}

/* nav section */

nav {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  gap: 10px;
}

.nav-logo img {
  width: 48px;
  height: 56.008px;
}

.nav-title {
  color: #131318;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 800;
}

.nav-title span {
  color: #ff5400;
}

.nav-list {
  margin-top: 15px;
}

.nav-list ul {
  list-style: none;
  display: flex;
}

.nav-list ul > li a {
  padding: 44px;
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
}

#home {
  color: #ff5400;
  font-weight: 700;
}

/* banner section */

.banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/Group13.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin-top: 90px;
  height: 500px;
}

.banner-content {
  text-align: center;
  padding: 106px 0px 24px 0;
}

.banner-content h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}

.banner-content p {
  margin-top: 24px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.input {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  margin: 30px 190px;
  display: flex;
}
.input form {
  border-radius: 8px;
  gap: 5px;
}
.input form input {
  border: none;
  border-radius: 8px;
  padding: 16px;
  margin: 14px;
}

.input-btn button {
  display: inline-flex;
  border: none;
  padding: 12px 45px;
  border-radius: 8px;
  background-color: #ff5400;
  color: white;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}

.input form select {
  border: none;
  border-radius: 8px;
  padding: 16px 84px 16px 16px;
  margin: 14px;
}

.input-search {
  background-image: url(../Images/Frame2.svg);
  background-repeat: no-repeat;
  background-color: #ff5400;
  color: white;
}

.input-search::placeholder {
  color: white;
}

/* popular section */

#popular-section {
  margin-top: 120px;
  display: flex;
}

.non-style {
  list-style: none;
}
.popular {
  margin-right: 200px;
}

.popular h1 {
  color: #131318;
  text-align: left;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.popular ul > li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}

.popular-li {
  margin-left: 30px;
}

.btn-primary {
  margin-top: 30px;
}

.btn-primary button {
  color: white;
  border: none;
  border-radius: 8px;
  background: #ff5400;
  padding: 14px 34px;
  margin-bottom: 30px;
}

/* popular section */

.destination-container h1 {
  margin-top: 100px;
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.destination-container p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 20px 200px 20px 200px;
}

.img1 {
  margin-top: 50px;
  margin-bottom: 85px;
  display: flex;
  justify-content: space-between;
}

.img2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}

.img3 {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
}

/* card section */

.first-card img {
  margin-bottom: 32px;
}
.first-card h3 {
  margin-bottom: 16px;
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.first-card p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}

.card-row {
  display: flex;
  gap: 25px;
}
.first-card {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 35px;
  width: 50%;
  width: 573px;
  margin-bottom: 24px;
}
.f-c-f {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.f-c-ff {
  border: 1px solid rgba(233, 68, 68, 0.2);
  margin-left: 298px;
  margin-right: 298px;
  background: rgba(233, 68, 68, 0.05);
}
/* simple section */
.simple {
  display: flex;
  margin-top: 100px;
}
.simple-container {
  margin-bottom: 30px;
}
.simple-container h1 {
  text-align: left;
  width: 50%;
  width: 448px;
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}
.simple-container p {
  text-align: left;
  width: 532px;
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.simple-container ul > li {
  color: #131318;
  font-size: 16px;
  font-weight: 700;
  width: 518px;
  width: 50%;
  margin-bottom: 10px;
  margin-left: 20px;
}
/* newsletter section */
#newsletter-container {
  gap: 100px;
  margin-top: 100px;
  display: flex;
}
.newsletter {
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  width: 474px;
  width: 35%;
}

.newsletter h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}
.newsletter p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 44px;
  border-bottom: 2px solid rgba(19, 19, 24, 0.1);

  border-image-slice: 1;
}

.newsletter input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  width: 393px;
  height: 52px;
  border: none;
  margin-bottom: 0px;
  margin-top: 20px;
}
.newsletter input::placeholder {
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
}
.newsletter button {
  width: 393px;
  height: 52px;
  background: #ff5400;
  margin-top: 16px;

  border-radius: 16px;
  border: none;
  color: white;
}

.newsletter-img {
  position: relative;
}

.newsletter-text p {
  position: absolute;
  transform: rotate(-19.628deg);
  background: #ff5400;
  border-radius: 16px;
  padding: 25px;
  width: 10%;
  width: 300px;
  text-align: center;
  margin-left: 310px;
  margin-bottom: 500px;
  margin-top: -190px;
}
.text {
  width: 10%;
  width: 10px;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.text1 {
  color: white;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

/* footer section */
.looping {
  background: rgba(19, 19, 24, 0.05);
}
.looping-l {
  margin-top: 100px;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 10px;
  padding-top: 110px;
}

.looping-content p {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.looping-logo {
  text-align: center;

  border-bottom: 2px solid rgba(19, 19, 24, 0.1);
  gap: 20px;
  border-image-slice: 1;
  margin: 0 284px 70px 284px;
}
.looping-logo img {
  width: 174.322px;
  height: 24px;
}
.looping p {
  color: #131318;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 110px;
}
/* responsive device */

@media screen and (max-width: 576px) {
  header {
    width: 95%;
  }
  nav {
    /* justify-content: left;
    background-image: url(../Images/Frame.svg);
    background-repeat: no-repeat;
    right: 100px; */
  }
  .nav-title {
    font-size: 1.3464rem;
  }
  .nav-logo img {
    width: 28.724px;
    height: 33.516px;
  }
  .nav-list {
    display: none;
  }
  /* banner section */
  .banner {
    margin-top: 10px;
  }

  .banner-content {
    padding-top: 32px;
  }
  .banner-content h1 {
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 1.375rem;
  }
  .banner-content p {
    margin: 8px 10px 0px 10px;
  }
  .input {
    flex-direction: column;
    padding-right: 50px;
    margin-left: 24px;
    margin-right: 20px;
    padding-bottom: 10px;
  }
  .input form input {
    flex-direction: column;
    padding: 16px 120px 16px 16px;
    margin-bottom: 0;
  }
  .input form select {
    padding: 16px 175px 16px 16px;
    margin-bottom: 0;
  }
  .input-btn {
    padding: 0;
    margin-left: 15px;
    margin-right: 0;
  }
  .input-btn button {
    width: 285px;
    height: 52px;
    padding: 0 90px;
  }

  /* popular section */

  #popular-section {
    margin-top: 14px;
    margin-left: 14px;
    margin-right: 24px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
    padding: 0;
  }
  .popular {
    margin: 0;
  }
  .popular-img img {
    width: 280px;
    height: 280px;
  }
  .popular h1 {
    font-size: 1.25rem;
  }

  /* destination section */

  .dci {
    margin: 0;
  }

  .img1 img {
    width: 280px;
    height: 176px;
    /* margin-bottom: 10px; */
    padding: 0;
  }
  .img2 img {
    width: 100%;
    width: 280px;
    height: 176px;
    margin: 0;
    padding: 0;
  }
  .img3 img {
    width: 280px;
    height: 176px;
    margin: 0;
    padding: 0;
  }

  .img1 {
    padding: 0;
    margin-bottom: 1px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 24px;
    flex-direction: column;
  }
  .img2 {
    padding: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 24px;
    flex-direction: column;
  }

  .img3 {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 24px;
    flex-direction: column;
  }
  .destination-container h1 {
    font-size: 20px;
  }
  .destination-container p {
    padding: 10px;
  }
  /* card section */
  .card-row {
    gap: 0;
    margin: 0;
    flex-direction: column;
  }
  .first-card {
    width: 100%;
    width: 220px;
    margin-top: 10px;
    margin-left: 0px;
    gap: 0;
    margin-bottom: 0px;
  }
  .f-c-f {
    margin-bottom: 0px;
  }
  .f-c-ff {
    margin-bottom: 0px;
  }
  /* simple section */
  .simple {
    flex-direction: column;
  }
  .simple-container h1 {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
    width: 248px;
  }
  .simple-container p {
    width: 310px;
  }
  .simple-container ul > li {
    width: 300px;
  }
  .simple-container-img img {
    width: 320px;
    height: 200px;
  }
  /* newsletter-container */
  #newsletter-container {
    flex-direction: column;
  }
  .newsletter input {
    width: 230px;
    height: 52px;
  }
  .newsletter {
    width: 230px;
  }

  .newsletter-text p {
    margin-top: -100px;
    margin-left: 100px;
    padding: 5px;
    width: 200px;
  }
  .newsletter-img img {
    width: 320px;
    height: 252px;
  }
  .text {
    font-size: 15.854px;
  }
  .text1 {
    font-size: 21.138px;
  }

  .newsletter button {
    width: 230px;
    height: 52px;
  }

  .newsletter h3 {
    text-align: center;
    padding-left: 24px;
  }
  .newsletter p {
    text-align: center;
  }
  /* footer section */
  .looping-l {
    padding-top: 10px;
    margin-top: 10px;
  }
  .looping-l img {
    width: 28.724px;
    height: 33.516px;
  }
  .looping-l h1 {
    margin-top: 0;
  }
  .looping-logo {
    padding: 0;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 105px;
    gap: 20px;
  }
  .looping-content p {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    padding: 10px;
    margin-top: 0;
  }
  .looping {
    margin: 0;
    padding: 0;
  }
  .looping-content {
    margin: 0;
  }
}
